.vcenter-display {
  display: inline-block;
}

.background_img {
  height: 105vh;
  background-size: 100%;
  border-radius: 0;
  background-position: center;
  background-size: cover;
  background-image : url('/assets/brand/bank-login (1).jpg');
}

.btn-link{
  color: brown;
}

