<div class="container text-center">
  <h1 class="display-4 title">Your tickets</h1>
<div class="container">
  <table class="table table-condensed table-hover">
    <thead class="thead-light">
      <tr>
        <th>Ticket number</th>
        <th>Date</th>
        <th>Time</th>
        <th>Bank Name</th>
        <th>Bank Address</th>
      </tr>
    </thead>
    <tbody>
      <tr class="timeTableRow" *ngFor="let ticket of ticketsOfUser">
        <td>{{ticket.id}}</td>
        <td>{{ticket.date}}</td>
        <td>{{ticket.time}}</td>
        <td>{{ticket.bank.name}}</td>
        <td>{{ticket.bank.address}}</td>
      </tr>
    </tbody>
  </table>
</div>

