/* 
.clickable {
  cursor: pointer;
}

td {
  vertical-align: middle;
}

#emailSearch {
  min-width: 40%;
  width: auto;
  float: left;
}

#itemsAmount {
  min-width: 20%;
  width: auto;
  float: right;
  margin-right: 10px;
}

#selectRole {
  min-width: 25%;
  width: auto;
  float: right;
}

#pagination {
  padding-bottom: 5%;
}

.btn {
  margin: 1%;
} */

.vcenter-display {
  display: inline-block;
}

.background_img {
  height: 93vh;
  background-size: 100%;
  border-radius: 0;
  background-position: center;
  background-size: cover;
  background-image : url('/assets/brand/western_bank.jpg');
}

.sel
{
  width: 350px;
}
