.register-notification {
    width: 70%;
    height: 60%;
    overflow: auto;
    margin: 150px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.background_img {
    height:93vh;
    background-size: 100%;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    background-image : url('/assets/brand/biznes.jpg')    
}

.background-div
{
    background-color: rgb(38, 39, 61);
    height: 120pt;
}

.confirm-title {
    padding-top: 5pt; 
    padding-bottom: 5pt; 
}

.confirm-text {
    margin-left: 140pt;
    color: #d2d1e6;
}

.secondary-green-btn {
    margin-top: 10pt;
    margin-left: 140pt;
}

/* .secondary-green-btn:hover {
    color: white;
    background-color: #28A745;
    margin-left: 30pt;
    margin-top: 10pt;
} */