
<h1>Your ticket:</h1>
<table border="0" cellpadding="4" cellspacing="4" style="width:300pt;margin:auto;">
  <tr>
  <td height="3" style="border: 1pt solid #000000;" align="left"><b>Date:</b></td>
  <td height="3" style="border: 1pt solid #000000;" align="left">{{this.date}}</td>
  </tr>
  <tr>
  <td height="3" style="border: 1pt solid #000000;" align="left"><b>Time:</b></td>
  <td height="3" style="border: 1pt solid #000000;" align="left">{{this.time}}</td>
  </tr>    
</table>
<div>
  <button (click)="newMessage()">press</button>
</div>
<div>
  <button (click)="Name()">press1</button>
</div>