<div class="background_img">
 <div class="text-center">
  <h1 class="ticket-title">Tickets for today</h1>
<div class="container">
  <table class="table table-condensed table-hover">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Client Name</th>
        <th>Client Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr class="timeTableRow" *ngFor="let ticket of ticketsOfUser">
        <td>{{ticket.date}}</td>
        <td>{{ticket.time}}</td>
        <td>{{ticket.clientName}}</td>
        <td>{{ticket.clientSurname}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

