<div class="container-fluid text-center background-component background_img">
<h3 class="order-ticket-heading" >Currency converter</h3>
  <table class="table">
    <tr>
      <td>
        <p>Currency you have:</p>
        <select [(ngModel)]="initialCurrValue" (change) = "onBaseSelectChange(initialCurrValue)">
          <option>USD</option>
          <option>EUR</option>
          <option>BYN</option>
        </select>
        <p>Sum:</p>
        <input #initialCurrency type="text" (input) = "onInitialCurrencyInputChange(initialCurrency.value)">
      </td>
      <td>
        <p>Currency you need:</p>
        <select [(ngModel)]="goalCurrValue"(change) = "onGoalSelectChange(goalCurrValue)">
          <option>BYN</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
        <p>Sum:</p>
        <input #resultSum type="text" readonly value={{this.result}}>
      </td>
    </tr>
    <tr>
      <td>
        <div class="exchange">
          <button type="submit" class="btn btn-outline-success" (click)="onExchangeClick()">Exchange</button>
          </div>
      </td>
      <td>
        <div>
          <button class="btn btn-outline-success takeTicket" routerLink="/api/v1/ticket">Take a ticket to bank</button>
        </div>
      </td>
    </tr>
  </table>
</div>