@import "~ng-pick-datetime/assets/style/picker.min.css";
  td.timeTableCell:hover { background-color: #d2d1e6; cursor: pointer}

  button.exchange { margin: 10px 1px0; cursor: pointer}

.order-ticket-heading  {
    color: #e3e2f8;
    padding-top: 15pt;
  }

  .background_img {
    height: 93vh;
    background-size: 100%;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    background-image : url('/assets/brand/Business.jpg')    
}

.table-text
{
  color: #edecfa;
}
.timeTable
{
  background-color: rgb(38, 39, 61);
}

.order-ticket
{
  margin: 250;
}

