<div class="background_img page-background">
<h3 class="order-ticket-heading">Currency converter</h3>
<div>
  <table class="table">
    <tr>
      <td>
        <p>Currency you have:</p>
        <select [(ngModel)]="initialCurrValue" (change) = "onBaseSelectChange(initialCurrValue)">
          <option>USD</option>
          <option>EUR</option>
          <option>BYN</option>
        </select>
        <p>Sum:</p>
        <input #initialCurrency type="text" (input) = "onInitialCurrencyInputChange(initialCurrency.value)">
      </td>
      <td>
        <p>Currency you need:</p>
        <select [(ngModel)]="goalCurrValue"(change) = "onGoalSelectChange(goalCurrValue)">
          <option>BYN</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
        <p>Sum:</p>
        <input #resultSum type="text" readonly value={{this.result}}>
      </td>
    </tr>
    <tr>
      <td>
        <div class="exchange">
          <button type="submit" class="btn btn-outline-success" (click)="onExchangeClick()">Exchange</button>
          </div>
      </td>
      <td>
        <div>
          <button class="btn btn-outline-success takeTicket" routerLink="/api/v1/ticket">Take a ticket to bank</button>
        </div>
      </td>
    </tr>
  </table>
</div>



<!-- <div>
<h3 class="order-ticket-heading">Take a ticket to bank</h3>
</div> -->

<!-- <div>
<label>
    Choose a date please:
  <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="dat" (ngModelChange)="onDateChanged($event)">
  <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
</label>
</div> -->

<!-- <div *ngIf="dateIsChosen" class="container">
  <table class="table table-bordered timeTable">
      <tbody>
          <tr *ngFor="let row of buildArr(listOfFreeTimes)">
              <td *ngFor="let item of row" class="timeTableCell" (click) = "onCellClick($event)" >{{item}}</td>
          </tr>
      </tbody>
  </table>
</div> -->

<!-- <div>
  <div *ngIf="cellHasColor">You have chosen a ticket for {{this.curDate}} at {{this.chosenTime}}</div>
    <button *ngIf="cellHasColor" class="btn btn-outline-success" (click)="getTicket()">Get Ticket</button>
  </div>
</div> -->