.confirm-title {
    padding-top: 8%; 
}

.confirm-text {
    margin-left: 10%;
}

.secondary-green-btn {
    color: #28A745;
    border-color: #28A745;
    
}

.secondary-green-btn:hover {
    color: white;
    background-color: #28A745;
}

.background_img {
    height:93vh;
    background-size: 100%;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    background-image : url('/assets/brand/order-ticket-background.jpg')    
}
