@import "~ng-pick-datetime/assets/style/picker.min.css";
  .timeTableCell:hover { 
    background-color: #d2d1e6; 
    cursor: pointer;
  }
  
  .order-ticket-heading  {
    padding-top: 20px;
    /* padding-left: 70pt; */
    color: beige;

  }

  .background_img {
    height: 93vh;
    background-size: 100%;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    background-image : url('/assets/brand/Business.jpg')    
  }

  .background-div
  {
    background-color:  rgb(38, 39, 61);
    border-top: #d2d1e6 1pt solid;
    border-bottom: #d2d1e6 1pt solid;
  }

  .order-ticket-confirm-text
  {
    color: beige;
  }

  .space-div
{
  height: 40pt;
}

  .timeTable {
    width: 50px;
    margin: 3px;
    text-align: center;
    border: solid 1px;
    background-color: beige;
  }

  .container{
    margin: 30px;
  }

  .get-ticket-button
  {
    margin-top: 30px;
  }

  .hidden-message
  {
    margin-top: 30px;
    margin-left: 45px;
    width: 335px;
  }

