<div class="background_img page-background">
    <div>
      <h3 class="order-ticket-heading">Take a ticket to bank</h3>
    </div>
  
    <div class="container">
      <label>
        Choose a date please:
        <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="dat" (ngModelChange)="onDateChanged($event)">
        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
      </label>
    </div>
  
    <div *ngIf="dateIsChosen" class="container row">
      <div *ngFor="let item of listOfFreeTimes; let idx=index" class="timeTable col-md-2">
        <div (click)="onCellClick($event)" class="timeTableCell">{{item}}</div>
      </div>
    </div>
  
    <div class="container">
      <div *ngIf="cellHasColor">You have chosen a ticket for {{this.curDate}} at {{this.chosenTime}}</div>
      <div *ngIf="cellHasColor">
          <button class="btn btn-outline-success takeTicket" routerLink="/api/v1/ticketView">Get ticket!</button>
      </div>
    </div>
    
  </div>